.spacer{
    flex: 1 1 auto;
}
.btnMargin{
    margin-left: 1rem;
    width: auto;
    color: antiquewhite;
    background-color: darkcyan;
    
}
mat-icon{
    vertical-align: middle;
    margin-right: 0.5rem;
}