<div class="row text-center offset-3">

    <mat-card class="col-8 sideContainer">
        <mat-card-title>Hello there, Welcome {{userName}}</mat-card-title>
        <mat-card-subtitle>"There is no one who loves pain itself, who seeks after it and wants to have it, simply
            because it is pain..."</mat-card-subtitle>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta a augue id cursus.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer tristique vel est eu ultricies.
        </mat-card-content>
    </mat-card>

</div>