.center{
    justify-content: center;
}
.displayBlock{
    display: block;
    margin-top: 1rem;
}
.displayFlex{
    display: inline-flex;
}
.topMargin{
    margin-top: 10%;
}
.btnsize{
    width: 150px;
    

}
.leftMarginButton{
    margin-left: 5rem;
}
.btnClr{
background-color: rgb(10, 196, 196);
}
